body {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #e1fbff;
  display: flex;
  justify-content: center;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
  gap: 30px;
}

#navbar li {
  align-content: center;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navbar img {
  width: 50px;
}
